body {
  margin: 0;
  padding: 0;
  background-color: var(--body-background-color);
}


:root {
  --primary-color: #81d11c;
  --body-background-color: #fdfdfd;

  --content-font-size-large: 24px;
  --content-font-size-middle: 16px;
  --content-font-size-small: 12px;
}