// 主题颜色
$primary-color: var(--primary-color, #f3cb02);
// 背景颜色
$body-background-color: var(--body-background-color, #e6e7ea);

// 文本字体大小
$content-font-size-large: var(--content-font-size-large, 24px);
$content-font-size-middle: var(--content-font-size-middle, 20px);
$content-font-size-small: var(--content-font-size-small, 16px);
