@use "../../styles/variable" as *;
@use "../../styles/mixins" as *;

.MyTable {


  .header-title{
    &--large {
      font-size: $content-font-size-large;
    }

    &--medium {
      font-size: $content-font-size-middle;
    }

    &--small {
      font-size: $content-font-size-small;
    }
  }

  .header-action {
    @include flex-right;
    margin-bottom: 10px;

    .item{
      margin: 0 10px;
    }
  }

  .footer {
    @include flex-center;
  }

}